<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="/public/styles/userHomecss.css">
	  <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet">
		  <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		
		<div id="id01" class="modal">
  
		  <form class="modal-content animate" action="/applyJob" method="post">
		  	<input type="text" name="company" class="invisible company">
		  	<input type="text" name="companyname" class="invisible companyname">
		  	<input type="text" name="id" class="invisible id">
		  	<input type="text" name="role" class="invisible role"> 
		    <div class="container">
		    	<h2 class="nameD"></h2>
		    	<p class="aboutD"></p>
		    	<h4>Job Role : </h4><p class="roleD"></p>
		    	<h4>Location : </h4><p class="placeD"></p>
		    	<h4>Job requirements : </h4>
		    	<p class="skillD"></p> 

		    </div>

		   	

		    <div class="container" style="background-color:#f1f1f1">
		      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		      <button type="submit" class="cancelbtn">Apply</button>
		    </div>
		  </form>
		</div>

		<div id="sideNavBar">
				<a href="/userhome" class="tooltip"><i class="fa fa-home fa-lg"></i><span class="tooltiptext">Home</span></a>
				<a href="/userprofile" class="tooltip"><i class="fa fa-user-circle fa-lg"></i><span class="tooltiptext">Profile</span></a>
				<a href="/appliedJobs" class="tooltip"><i class="fa fa-folder-open"></i><span class="tooltiptext">Applications</span></a>
				<a href="/logout" class="tooltip"><i class="fa fa-sign-out fa-lg"></i><span class="tooltiptext">Log Out</span></a>
		</div>
		<div id="upper">
				<div id="user">
					<p id="name"><%=data[0].UserName%></p>
					<p id="id"><a href="/salaryPredictor" target="_blank">Salary Predictor</a></p>
				</div>
				<a href="/"><img src="/public/jobs.png"></a>
		</div>
		<div class="main">
			<div class="header">
				<h3>AVAILABLE JOBS</h3>
			</div>
			<!-- <div class="filters">
				 <label for="Experience">Experience(in years) : </label>
				<select name="Experience" id="Experience">
					<option value="All">All</option>
					<option value="0-2">0-2</option>
					<option value="2-4">2-4</option>
					<option value="4-7">4-7</option>
					<option value="7+">7+</option>
				</select>

				<label for="Role">Job Role : </label>
				<select name="Role" id="Role">
					<option value="All">All</option>
					<option value="Software Developer">Software Developer</option>
					<option value="Software Engineer">Software Engineer</option>
					<option value="Digital Marketing">Digital Marketing</option>
					<option value="Software Tester">Software Tester</option>
					<option value="Business Analyst">Business Analyst</option>
				</select>

				<label for="Location">Location : </label>
				<select name="Location" id="Location">
					<option value="All">All</option>
					<option value="Mumbai">Mumbai</option>
					<option value="Pune">Pune</option>
					<option value="Banglore">Banglore</option>
					<option value="Hyderabad">Hyderabad</option>
					<option value="Chennai">Chennai</option>
					<option value="Gurgaon">Gurgaon</option>
					<option value="Karnataka">Karnataka</option>
					<option value="Delhi">Delhi</option>
					<option value="Chhattisgarh">Chattissgarh</option>
				</select>
				
				<button>Apply filters</button>
			</div> -->
			<div class="jobpost">
				<%
					
					var arr = [];
					var obj = {};
					console.log("job of size", jobs.length);
					for(var i=0; i < jobs.length; i++){
						console.log(jobs[i]);
						if(jobs[i]['Status']=='Pending'){
							arr.push(jobs[i]['Job Id']);
							console.log("pushed", jobs[i]['Job Id']);
						}
					}
					for(var i=0; i < company.length; i++){
						obj[company[i]['UserName']] = company[i];
					}
		
					for(var i=0; i < vacancy.length; i++){
						if(!arr.includes(vacancy[i]['Job Id'])){%>
							<div class="job">
								<img src="/public/job2.png">
								<div class="job-content">
									<%
										var user = vacancy[i].UserName;
										var name1 = obj[user];
										var name = name1['Company name'];
										var a = name1['About'].trim();
										%>
									<div class="left">
										<h2><%=vacancy[i]['Role']%></h2>
										
										<p><%=name%></p>
										<p>Location : <%=vacancy[i]['Place']%></p>
									</div>
									<div class="right">
										<p>Profile : <%=vacancy[i]['Role']%></p>
										<p>Job Posted on : <%=vacancy[i]['Date'].toDateString()%></p>
										<%var role = vacancy[i]['Role']
										var req = vacancy[i]['Requirements']
										var id = vacancy[i]['Job Id']
										var place = vacancy[i]['Place']%>

										<button onclick="viewJobDetails('<%=user%>', '<%=name%>', '<%=a%>', '<%=role%>', '<%=req%>', '<%=id%>', '<%=place%>')">View details</button>
									</div>

								</div>
							</div>

				<%}}%>


			</div>
		</div>
		<script type="text/javascript" src = "/public/scripts/userHome.js"></script>
	</body>
</html>